.container {
    .round {
        width: 36px;
        height: 36px;
        border: 2px solid red;
        border-radius: 20px;
        position: relative;
        &:after {
            position: absolute;
            left: -4px;
            top: -4px;
            content: '';
            width: 24px;
            height: 24px;
            border-top-left-radius: 24px;
            background: white;
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        animation: rotate 1s linear infinite;
    }
    .round2 {
        width: 40px;
        height: 40px;

        border-radius: 40px;
        background: #ff2a8c;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 20px;
            background: pink;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            position: absolute;
            top: 20px;
        }
    }
    .round3 {
        width: 40px;
        height: 20px;
        background: pink;	
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -40px;
        transform-origin: bottom;
        transform:rotate(180deg);     		
       /*  @keyframes roll {
       	0% {        	
       		transform:rotate(0deg);
       	}
       	100% {
       		transform:rotate(180deg);
       	}        
       }
       animation : roll linear 2s ; */
    }
    .round4 {
    	width: 40px;
    			        height: 20px;
    			        background: silver;
    			        border-bottom-left-radius: 40px;
    			        border-bottom-right-radius: 40px;
    			        position: relative;
    			        top: -40px;
    			        transform-origin: top;
    			        transform:rotate(0deg);	
    			        overflow: hidden;
      /*  @keyframes roll {
      0% {        		
      	transform:rotate(0deg);
      }
      	50% {
      		transform:rotate(0deg);
      	}
      	100% {
      		transform:rotate(180deg);	
      	}
      
      }
      animation : roll linear 4s ; */
    }

}