.container {
  width: 481px;
  height: 800px;
  margin: 0 auto;
}
.container > * {
  margin: 0;
  padding: 0;
}
.container table {
  border-collapse: collapse;
  float: left;
}
.container table th {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}
.container table tbody td {
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.container table tbody #up {
  background-color: red;
  position: relative;
  left: 0;
  top: 0;
  transition: transform,top,left 1s,1s,1s;
}
.container table tbody #up:before {
  content: '';
  position: absolute;
  background-color: blue;
}
.container table tbody #up:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
}
.container table tbody #up {
  transform: rotate(0deg);
}
.container .row-th th {
  border-bottom: 1px solid transparent;
}
.container input {
  margin-left: 41px;
  margin-top: 10px;
  height: 20px;
}
.container button {
  margin-top: 10px;
  height: 20px;
  box-sizing: content-box;
}
