body .container {
  border: 1px solid grey;
  box-sizing: border-box;
  overflow: hidden;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  padding-left: 155px;
  background-color: white;
}
body .container div {
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 10%;
  width: 30%;
  height: 80%;
  float: left;
  background-color: white;
}
body .container > div {
  margin: 20px;
}
body .btns {
  width: 60%;
  margin: 0 auto;
}
body .btns button {
  width: 16%;
  margin: 8%;
  height: 40px;
}
